.h1, h4{
  justify-content: center;
  text-align: center;
}
.drop__down{
  width: 200px;
}

.recipe__input{
  width: 70%;
  height: 70px;
}

.searchBykey__word{
margin-left: 0%;
max-width: 20%;
margin-right: auto;

}

.search__container{
  margin-left: 0%;
  max-width: 60%;
}